@charset "UTF-8";
/* BASE */ /* Reset and base styles  */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,regular,700,300italic,italic);
@import url(https://fonts.googleapis.com/css?family=Raleway:600,700);
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*FONTS*/
/*FONTS*/
/*COLORS*/
/*COLORS*/
/*MEDIA*/
/*MEDIA*/
body {
  font-family: "Roboto Condensed", serif;
  font-weight: 400;
  font-size: 16px;
}

a {
  -webkit-transition: color 0.2s linear;
  transition: color 0.2s linear;
}
a:hover {
  color: #00B2A0;
}

.container {
  max-width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}
.container--train {
  height: 100%;
}

.none {
  display: none !important;
}

.titleH1--name {
  font-size: clamp(5rem, 2.273rem + 13.64vw, 12.5rem);
  font-family: "Raleway", serif;
  letter-spacing: 0.6px;
  font-weight: 700;
  color: #0D302C;
}

.titleH2 {
  font-size: clamp(1.375rem, 0.784rem + 2.95vw, 3rem);
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #01353E;
  font-family: "Raleway", serif;
}
.titleH2--info {
  text-align: center;
}
.titleH2--team {
  text-align: center;
}
.titleH2--train {
  margin-bottom: 100px;
}
.titleH2--service {
  text-align: center;
}
.titleH2--benefits {
  margin-bottom: 100px;
  text-align: center;
}
.titleH2--slider {
  text-align: center;
  margin-bottom: 229px;
}
.titleH2--gallery {
  text-align: center;
  margin-bottom: 212px;
}

.titleH3 {
  font-size: clamp(1.5rem, 1.227rem + 1.36vw, 2.25rem);
  font-weight: 400;
  line-height: 40px;
  color: #01353E;
}
.titleH3--service {
  margin-bottom: 58px;
  text-align: center;
}
.titleH3--service--price {
  margin-bottom: 0;
  margin-top: 137px;
  text-align: center;
  position: relative;
}
.titleH3--service--price span {
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  position: absolute;
  top: 0;
}

.titleH5 {
  color: #01353E;
  font-size: clamp(2.5rem, 1.955rem + 2.73vw, 4rem);
  font-weight: 700;
  letter-spacing: 0.6px;
}
.titleH5--video {
  text-align: center;
}

.subtitleP {
  color: #242121;
  font-size: clamp(0.75rem, 0.705rem + 0.23vw, 0.875rem);
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
}
.subtitleP--train {
  margin-bottom: 30px;
}
.subtitleP--train + .subtitleP--train {
  margin-bottom: 30px;
}
.subtitleP--video {
  text-align: center;
}

.subtitleSpan {
  letter-spacing: 0.6px;
}
.subtitleSpan--name {
  color: #000;
  font-size: clamp(0.875rem, 0.648rem + 1.14vw, 1.5rem);
}
.subtitleSpan--teamName {
  color: #242121;
  font-size: clamp(0.875rem, 0.784rem + 0.45vw, 1.125rem);
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 5px;
}
.subtitleSpan--teamProf {
  color: #242121;
  font-size: clamp(0.625rem, 0.534rem + 0.45vw, 0.875rem);
  font-weight: 400;
  line-height: 18px;
}

.block {
  padding: 200px 0 !important;
}

.button {
  display: block;
  padding: clamp(6px, 2vw, 12px) clamp(12px, 4vw, 24px);
  font-size: clamp(12px, 2vw, 16px);
  text-align: center;
  text-decoration: none;
  border: 1px solid #c4c4c4;
  color: #333;
  background-color: #fff;
  color: #242121;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
}
.button--gallery {
  margin: 0 auto;
}

.button:hover, .button:focus {
  background-color: #00B2A0;
  color: #fff;
}

.button:active {
  background-color: #00B2A0;
}

@media screen and (max-width: 1000px) {
  .titleH2--train {
    margin-bottom: 70px;
  }
  .titleH2--benefits {
    margin-bottom: 80px;
  }
  .titleH2--slider {
    margin-bottom: 180px;
  }
  .titleH2--gallery {
    margin-bottom: 180px;
  }
  .titleH3--service {
    margin-bottom: 40px;
  }
  .titleH3--service--price {
    margin-top: 100px;
  }
  .subtitleP--train {
    margin-bottom: 20px;
  }
  .subtitleP--train + .subtitleP--train {
    margin-bottom: 20px;
  }
  .block {
    padding: 150px 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .titleH2--benefits {
    margin-bottom: 60px;
  }
  .titleH2--slider {
    margin-bottom: 120px;
  }
  .titleH2--gallery {
    margin-bottom: 140px;
  }
  .titleH3--service {
    margin-bottom: 30px;
  }
  .titleH3--service--price {
    margin-top: 80px;
  }
  .block {
    padding: 100px 0 !important;
  }
}
@media screen and (max-width: 320px) {
  .titleH2--slider {
    margin-bottom: 100px;
  }
  .titleH2--gallery {
    margin-bottom: 100px;
  }
  .titleH3--service {
    margin-bottom: 20px;
  }
  .titleH3--service--price {
    margin-top: 60px;
  }
  .block {
    padding: 80px 0 !important;
  }
}
.nav-icon-btn {
  --time: 0.1s;
  --width: 40px;
  --height: 30px;
  --line-height: 1px;
  --line-margin: 2;
  --color: #fff;
  height: var(--height);
  width: var(--width);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-icon {
  position: relative;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  -webkit-transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time), -webkit-transform var(--time) ease-in;
}

.nav-icon::before {
  top: calc(var(--line-height) * -8);
}

.nav-icon::after {
  top: calc(var(--line-height) * 8);
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  -webkit-transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, -webkit-transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
  transition: top var(--time) linear, transform var(--time) ease-in var(--time), -webkit-transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* BASE */
/* BLOCK */
.header {
  padding-top: 35px;
  padding-bottom: 92px;
  background-image: url(/content/header/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 185px;
     -moz-column-gap: 185px;
          column-gap: 185px;
}

.header__nav-btn {
  display: none;
}

.header__row__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 45px;
     -moz-column-gap: 45px;
          column-gap: 45px;
  row-gap: 20px;
  color: #fff;
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
  font-weight: 400;
}

.header__name {
  margin-top: 243px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header__board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 315px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 20px 0 60px;
  }
  .header__row {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__nav-btn {
    display: block;
  }
  nav {
    display: none;
  }
  .header__name {
    margin-top: 180px;
  }
  .header__board {
    margin-top: 260px;
  }
}
@media screen and (max-width: 320px) {
  .header {
    padding: 30px 0 70px;
  }
  .header__name {
    margin-top: 120px;
  }
  .header__board {
    margin-top: 200px;
  }
}
.info {
  margin-top: 97px;
}

.info__row {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  gap: 30px;
  margin-top: 100px;
}

@media screen and (max-width: 768px) {
  .info {
    margin-top: 60px;
  }
  .info__row {
    margin-top: 70px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
  }
}
@media screen and (max-width: 320px) {
  .info {
    margin-top: 45px;
  }
  .info__row {
    margin-top: 50px;
    gap: 10px;
  }
}
.team {
  padding: 200px 0 204px;
}

.team__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 40px;
  margin-top: 212px;
}

.team__row__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.team__row__card img {
  margin-bottom: 25px;
}

@media screen and (max-width: 768px) {
  .team {
    padding: 150px 0 150px;
  }
  .team__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .team__row__card img {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 320px) {
  .team {
    padding: 100px 0 100px;
  }
  .team__row {
    margin-top: 100px;
  }
  .team__row__card img {
    margin-bottom: 15px;
  }
}
.train {
  position: relative;
  height: 900px;
}

.train__row {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; /* Центрирование элементов по вертикали */
}

.train__row__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 60%; /* Ширина блока задается в процентах (может быть отрегулирована) */
  padding-right: 89px;
  margin-top: 44px;
}

.train__image {
  max-height: 850px;
  max-width: 40%; /* Ширина изображения задается в процентах (может быть отрегулирована) */
  position: absolute;
  top: 25%;
  right: 0;
}

@media screen and (max-width: 1000px) {
  .train__row__info {
    padding-right: 60px;
    margin-top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .train {
    height: 650px;
  }
  .train__image {
    display: none;
  }
  .train__row {
    display: block;
  }
  .train__row__info {
    padding-right: 0;
    margin: 0 auto;
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .train__row__info {
    margin-top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  .train__image {
    top: 35%;
  }
}
.video-container {
  position: relative;
  padding-bottom: 56.25%; /* Соотношение сторон 16:9 для видео */
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Занимает всю ширину контейнера */
  height: 100%; /* Занимает всю доступную высоту, основанную на соотношении сторон */
}

.video__info {
  margin-top: 200px;
}

.video__info__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 100px;
     -moz-column-gap: 100px;
          column-gap: 100px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 700px;
  margin: 0 auto;
}

.video__info__list__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; /* Равномерно распределяет доступное пространство между элементами */
  max-width: 300px; /* Устанавливает максимальную ширину элемента */
  margin-bottom: 20px; /* Добавляет отступ между элементами */
}

@media screen and (max-width: 1000px) {
  .video__info {
    margin-top: 150px;
  }
}
@media screen and (max-width: 768px) {
  .video__info {
    margin-top: 100px;
  }
}
@media screen and (max-width: 320px) {
  .video__info {
    margin-top: 80px;
  }
}
.service {
  padding: 200px 0;
  background-color: #F8F8F8;
}

.service__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 212px;
}

.service__row__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  row-gap: 30px;
}

.service__row__cards__card {
  background-color: #fff;
  padding: 40px 20px;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}
.service__row__cards__card:hover {
  -webkit-box-shadow: 0 0 5px #00B2A0;
          box-shadow: 0 0 5px #00B2A0;
  cursor: pointer;
}

.service__row__cards__card__info {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.6px;
  color: #242121;
  margin-bottom: 20px;
}
.service__row__cards__card__info + .service__row__cards__card__info {
  margin-bottom: 20px;
}
.service__row__cards__card__info:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1000px) {
  .service {
    padding: 150px 0;
  }
  .service__row {
    row-gap: 150px;
  }
  .service__row__cards {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.benefits {
  padding: 200px 0;
}

.benefits__row__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.benefits__row__list__item {
  max-width: 350px;
}

.benefits__row__list__item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 19px;
}

.benefits__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2fr)[2];
  grid-template-columns: repeat(2, 2fr);
  margin-top: 100px;
}

.benefits__stat {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.benefits__stat__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.benefits__stat__wrapper span {
  font-size: clamp(1.25rem, 1.159rem + 0.45vw, 1.5rem);
}

.benefits__info .subtitleP {
  margin-bottom: 30px; /* Задаем отступ для всех элементов */
}

.benefits__info .subtitleP:last-child {
  margin-bottom: 0; /* Убираем отступ только у первого элемента */
}

@media screen and (max-width: 1000px) {
  .benefits__row__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .benefits__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-height: 800px;
}

.slide {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
  /* Добавляем анимацию для свойства transform */
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(36, 33, 33, 0.5);
  z-index: 2;
}

img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-container {
  position: relative;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: clamp(1rem, 0.682rem + 1.59vw, 1.875rem);
}

#prevBtn {
  z-index: 10;
  left: 10px;
}

#nextBtn {
  z-index: 10;
  right: 10px;
}

.gallery__row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr clamp(10px, 3vw, 40px) 1fr clamp(10px, 3vw, 40px) 1fr clamp(10px, 3vw, 40px) 1fr;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr clamp(10px, 3vw, 40px) 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: clamp(10px, 3vw, 40px);
  margin-bottom: clamp(10px, 3vw, 40px);
}

.gallery__row > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.gallery__row > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.gallery__row > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.gallery__row > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.gallery__row > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.gallery__row > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.gallery__row > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.gallery__row > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}
.gallery__row--nature {
  -ms-grid-rows: (1fr)[1];
  grid-template-rows: repeat(1, 1fr);
}
.gallery__row + .gallery__row {
  margin-bottom: 40px;
}

.photo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photo--wide--one {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 0;
  grid-row-end: 1;
}

.photo--wide--two {
  -ms-grid-column: 3;
      grid-column-start: 3;
  -ms-grid-column-span: 2;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 0;
  grid-row-end: 2;
}

.photo--wide--three {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 0;
  grid-row-end: 3;
}

.gallery__nav {
  margin-bottom: clamp(20px, 5vw, 50px);
}

.gallery__nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.gallery__nav__list__item {
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
.gallery__nav__list__item:hover {
  cursor: pointer;
  color: #00B2A0;
}

@media screen and (max-width: 768px) {
  .gallery__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }
  .photo--wide--one {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 0;
    grid-row-end: 1;
  }
  .photo--wide--two {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 0;
    grid-row-end: 2;
    grid: 4/5;
  }
  .photo--wide--three {
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 0;
    grid-row-end: 3;
  }
}
.footer {
  background-color: #00B2A0;
  padding: 68px 0 68px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 50px 0 50px;
  }
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 40px 0 40px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    padding: 30px 0 30px;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto; /* Это зафиксирует footer внизу */
}

/* BLOCK */