.train {
    position: relative;
    height: 900px;
}

.train__row {
    height: inherit;
    display: flex;
    align-items: center; /* Центрирование элементов по вертикали */
  }
  
  .train__row__info {
    display: flex;
    // align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 60%; /* Ширина блока задается в процентах (может быть отрегулирована) */
    padding-right: 89px;
    margin-top: 44px;
  }
  
  .train__image {
    max-height: 850px;
    max-width: 40%; /* Ширина изображения задается в процентах (может быть отрегулирована) */
    position: absolute;
    top: 25%;
    right: 0;
    
  }  
  
@include semiTablet {
    .train__row__info {
        padding-right: 60px;
        margin-top: 0px;
    }

}

@include mediaTablet {
    .train {
        height: 650px;
    }

    .train__image {
        display: none;  
    }

    .train__row {
        display: block;
    }

    .train__row__info {
        padding-right: 0;
        margin: 0 auto;
        width: 100%;
        // margin-top: 100px;
    }
}

@include mediaPhone {
    .train__row__info {
        margin-top: 50px;
    }
}

@include semiTablet {
    .train__image {
        top: 35%;
    }
}

// .train {
//     position: relative;
//     height: 1050px;
// }
// .container {
//     height: 100%;
// }
// .train__row {
//     height: 100%;
//     display: flex;
//     align-items: center;
//     // justify-content: center;
// }
// .train__row__info {
//     width: 50%;
// }

// .train__image {
//     position: absolute;
//     right: 0;
//     top: 0;
// }
// .titleH2 {
// }
// .titleH2--traing {
// }
// .subtitleP {
// }
// .subtitleP--train {
// }