/*FONTS*/

$fontMain: 'Roboto Condensed', serif;
$fontSecond: 'Raleway', serif;

/*FONTS*/

/*COLORS*/

$colorBlack: #000;
$colorWhite: #fff;
$colorSubtitleP: #242121;
$colorTitleH2: #01353E;
$colorAccent: #00B2A0; 

/*COLORS*/

/*MEDIA*/

$tablet: 768px;
// $semiTablet: 1000px;
$phone: 320px;

/*MEDIA*/